[submodule "src/quad_rover_kinematics"]
	path = src/quad_rover_kinematics
	url = git@github.com:Bitnut01/quad_rover_kinematics.git
	branch = raptor_ws/master
[submodule "src/libVescCan"]
	path = src/can_bridge/libVescCan
	url = https://github.com/AlvaroBajceps/libVescCan.git

